{% extends 'base.html' %} {% load static %} {% block title %}Login | The
Village Bookshelf{% endblock %} {% block content %}

<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="hidden" name="next" value="{{ request.GET.next|default:'/book_list/' }}">
  <button type="submit" class="nav-btn">Login</button>
</form>
<nav class="navigation">
  <a href="{% url 'password_reset' %}" class="nav-btn">Forgot password?</a>
  <a href="{% url 'home' %}" class="nav-btn"> Home</a>
  <a href="{% url 'about' %}" class="nav-btn">About</a>   
  <a href="{% url 'signup' %}" class="nav-btn">Sign Up</a>        
</nav>

{% endblock %}
