{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>Sign Up</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ request.GET.next|default:'/book_list/' }}">
    <button type="submit" class="nav-btn">Sign Up</button>
</form>
<nav class="navigation">
    <a href="{% url 'login' %}" class="nav-btn">Already have an account? Login</a>   
    <a href="{% url 'home' %}" class="nav-btn"> Home</a>
    <a href="{% url 'about' %}" class="nav-btn">About</a>
</nav>


{% endblock %}
