{% extends 'base.html' %} {% load static %} {% block title %}All Books | The
Village Bookshelf{% endblock %} {% block content %}
<div class="container">
  <h2 class="home-title">All Available Books</h2>
  {% if user.is_authenticated %}
  <p>You’re logged in and can request a swap or add your own book.</p>
  {% else %}
  <p class="swap-prompt">
    Want to swap or request a book?
    <a href="{% url 'login' %}" class="text-link">Login</a> or
    <a href="{% url 'signup' %}" class="text-link">Sign Up</a>.
  </p>
  {% endif %}
  <div class="book-list-container">
    <ul class="book-list">
      {% for book in page_obj %}
      <li class="book-item">
        <div class="book-info">
          <a href="{% url 'book_detail' book.pk %}" class="book-title-link">
            <strong class="book-title">{{ book.title }}</strong>
          </a>
          <span class="book-author"> by {{ book.author }}</span>
        </div>
  
        {% if user.is_authenticated and book.owner == user %}
        <div class="book-buttons">
          <a href="{% url 'book_update' book.pk %}" class="book-btn text-link">
            <i class="fas fa-edit"></i> Edit
          </a>
          <a href="{% url 'book_delete' book.pk %}" class="book-btn text-link">
            <i class="fas fa-trash-alt"></i> Delete
          </a>
        </div>
        {% endif %}
      </li>
      {% empty %}
      <li>No books found.</li>
      {% endfor %}
    </ul>
  </div> 

  <!-- Pagination controls -->
  {% if page_obj.has_other_pages %}
    <div class="pagination">
      <span class="page-number-display">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1" class="text-link">&laquo; First</a>
          <a href="?page={{ page_obj.previous_page_number }}" class="text-link">Previous</a> 
        {% endif %}

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="text-link">Next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}" class="text-link">Last &raquo;</a>
        {% endif %}
      </span>
    </div>
    {% endif %}
  </div>
</div>
  {% endblock %}
