{% extends 'base.html' %}
{% load static %}

{% block title %}Home | The Village Bookshelf{% endblock %}

{% block content %}
    <section class="hero">
        <h2>Welcome to The Village Bookshelf</h2>
        <p>Share, discover, and borrow books from your local community.</p>
        
        <!-- Search Form -->
        <form method="GET" action="{% url 'search_books' %}">
            <input type="text" name="q" placeholder="Search for books...">
            <button type="submit">Search</button>
        </form>
    </section>


    <!-- <div class="book-image">
        <img src="{% static 'images/open_book.png' %}" alt="Open Book">
    </div> -->
{% endblock %}


