{% extends 'base.html' %}
{% load static %}

{% block title %}About | The Village Bookshelf{% endblock %}

{% block content %}
<div class="container">
  <section class="form-details">
    <h2 class="about-title">About The Village Bookshelf</h2>
    <p class="about-text">
        The Village Bookshelf is a platform for sharing books within local communities.
        <br><br>
        We promote literacy and sustainability by making it easy to swap books with your neighbours. 
        You might finally find that one book you’ve been searching for!
    </p>

    <h3 class="about-title">How It Works</h3>
    <p class="about-text">
        New to the site? Start by searching for books using the search bar or browsing the scrolling list on the homepage.
        <br><br>
        To request a book swap, you’ll need to sign up and log in. You can sign up from the Home, About, or Login pages.
        <br><br>
        Once logged in, click on any book (not added by you) to view its detail page and request a swap.
        <br><br>
        You can also add your own books to the library from the Book List page. Just click “Add Book,” fill out the form, and your listing will be live.
        <br><br>
        When someone requests your book, you’ll receive an email notification.
        <br><br>
        Happy book swapping!
    </p>
  </section>
</div>
{% endblock %}
