{% extends 'base.html' %}
{% load static %}

{% block title %}Book List | The Village Bookshelf{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>About The Village Bookshelf</h2>
    <p>The Village Bookshelf is a platform for sharing books within the local communities.</p>
    <p>Helping to promote literacy and sustainability by being able to easily swap books with others in the local area.</p>
    <p>Who wouldn't want to join a local book-sharing community!</p>
    <p>You may find that book you've always been looking for!</p>
</div>
<nav class="navigation">
    <a href="{% url 'home' %}" class="nav-btn"> Return Home</a>
    {% if user.is_authenticated %}<a href="{% url 'book_list' %}" class="nav-btn"> Return to Book List</a>{% else %}
    <a href="{% url 'login' %}" class="nav-btn">Login</a>
    <a href="{% url 'signup' %}" class="nav-btn">Sign Up</a>{% endif %} 
  </nav>


{% endblock %}
