{% extends 'base.html' %}
{% load static %}

{% block title %}Book List | The Village Bookshelf{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>About The Village Bookshelf</h2>
    <p>The Village Bookshelf is a platform for sharing books within the local communities.</p>
    <p>Helping to promote literacy and sustainability by being able to easily swap books with others in the local area.</p>
    <p>Who wouldn't want to join a local book-sharing community!</p>
    <p>You may find that book you've always been looking for!</p>
</div>

<div class="about-gp">
  <h3 class="about-title">How it works</h3>
  <p class="about-text">If it is your first visit to the site, you can search for books via the search engine or scroll through the available books in the scroll bar window on the home page.
  If you see a book that you like and want to requst a swap, you need to be logged in for this.

  Create an account by clicking on the signup link which is found on the home screen, the about screen and the login screen.

  Once you have created an acoount you will be directed to the logged in page and now when you click on a link to a book, 
  you will be able to request a swap on any book that you haven't added yourself.
  Now as a logged in user you can also add your own book by clicking on the add book button, that cn be found on the logged in book list page, and adding details then pressing save.
  Your book will now be available for other users to request.

  Once you make a request for a swap, the book owner will recieve an email message and will accept or decline the request.

  Once the book owner has accepted the request, the book owner and the book requester can communicate via the messaging system to arrange a meet-up or collection method.

  There is then an option to leave reviews and your experience as well as the book itself.</p>
</div>

<nav class="navigation">
    <a href="{% url 'home' %}" class="nav-btn"> Home</a>
    {% if user.is_authenticated %}<a href="{% url 'book_list' %}" class="nav-btn"> Return to Book List</a>{% else %}
    <a href="{% url 'login' %}" class="nav-btn">Login</a>
    <a href="{% url 'signup' %}" class="nav-btn">Sign Up</a>{% endif %} 
  </nav>


{% endblock %}
